{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('dingo-layout layout--right-sidebar') }}>
    {% if content.content %}
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    {% endif %}

    {% if content.right_sidebar %}
      <div {{ region_attributes.right_sidebar.addClass('layout__region', 'layout__region--right-sidebar') }}>
        {{ content.right_sidebar }}
      </div>
    {% endif %}

  </div>
{% endif %}
